body {
    font-family: "Kanit", sans-serif;
}

#page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


#board {
    position: relative;
    width: 32.8rem;
    height: 32.8rem;
    background-color: darkgrey;
}

.piece{
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 15px gray;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32.8rem;
    height: 3rem;
    background-color: blanchedalmond;
}


.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0px 1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    box-shadow: 0 0 5px lightgray;
}

#white-icon {
    background-color: white;
}



#black-icon {
    background-color: black;
}

#turn {
    padding: 2rem;
}

.blk-page {
    width: 15rem;
    height: 15rem; 
    box-shadow: 0 0 10px lightgray;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 99;
}

.blk-title {
    justify-content: center;
    align-items: center;
    display: flex;
}

.blk-option {
    display: flex;
}
.ending-page {
    display: none;
}


.btn {
    font-family: "Kanit", sans-serif;
    box-shadow: 0 0 5px lightgray;
    margin: 10px;
    width: 5rem;
    height: 5rem;
    border: 0px solid;
    transition: 0s all;
}

.btn:hover {
    border: 1.5px solid;
    background-color: darkgrey;
    transition-delay:0.05s;
}

#skip_btn {
    font-family: "Kanit", sans-serif;
}
